body {
  background-color: slategray;
  margin: 0;
  place-items: center;
  font-style: inherit;
}

.card {
  padding: 30px;
  width: 15vw;
  max-height: 50vh;
  background: whitesmoke;
  font-weight: bold;
}

nav {
  display: block;
  position: absolute;
  width: 100%;
  background: grey;
  padding: 20px;
}

.nav-link {
  color: whitesmoke;
  font-weight: 700;
  font-size: 22px;
  margin-right: 15px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: black;
  cursor: pointer;
  color: aliceblue;
}

button:hover {
  background-color: gray;
}
