body {
  background-color: slategray;
  margin: 0;
  place-items: center;
  font-style: inherit;
}

nav {
  display: block;
  position: absolute;
  width: 100%;
  background: grey;
  padding: 20px;
}

.nav-link {
  color: whitesmoke;
  font-weight: 700;
  font-size: 22px;
  margin-right: 15px;
}
